// ============================ Buttons ============================
.btn
	br(40px)
	tr(all)
	display inline-block
	background none
	border 0
	text-align: center
	font-weight 600
	&:hover
		cursor pointer

.btn--sm
	@extend .btn
	padding 12px 15px
	font-weight: 400

.btn--md
	@extend .btn
	@extend .type--md
	padding 14px 35px

.btn--lg
	@extend .btn
	font-size 20px
	padding 10px 30px

.btn--mobile
	@extend .btn
	+below(768px)
		width 100%
		text-align center

.btn--mark
	@extend .btn
	color white
	background $mark
	.nav-icon
		fill white
	&:hover
		background-color $mark-dark
		color white!important
	&:active
		background-color $mark-dark
	input[type="submit"]
		border 0
	.nav-icon
		fill white



.btn--disable
	@extend .disabled
	border 1px solid $border-color
	background-color #ffffff
	color #000000

.btn--light
	@extend .btn
	border 1px solid $border-color
	background-color #ffffff
	&:hover
		border 1px solid $mark
	.nav-icon
		fill $mark

.btn--white
	@extend .btn
	border 1px solid rgba(255, 255, 255, 0.9)
	color rgba(255, 255, 255, 0.9)
	.nav-icon
		fill rgba(255, 255, 255, 0.9)

.btn--icon
	flex(mid)
	.nav-icon
		margin-left: 10px

.nav-icon
	size 20px
	display inline-block

.btn--icon-left
	.nav-icon
		margin-left: 0
		margin-right: 10px

.btn-row-mid
	flex(mid)
	margin: 30px 0


.btn-row-mid--clear
	margin: 0

.btn--full
	width: 100%
	display block

.btn--extend
	margin-bottom: 20px