// === Curent color ===
navy = #001F3F
blue = #3a90c8
aqua = #7FDBFF
teal = #39CCCC
olive = #3D9970
green = #2ECC40
lime = #01FF70
yellow = #FFDC00
orange = #FF851B
red = #FF4136
fuchsia = #F012BE
purple = #B10DC9
maroon = #85144B
white = #FFFFFF
silver = #DDDDDD
gray = #AAAAAA
black = #111111

//$mark = #5b3ca7
$mark = #00c2ff
$mark-dark = #00adee
$orange = #FF7D00
$dark = #2b2c34
$gray = #b4b4b4
$snow = #f3f3f3

$main-text-color = black
$border-color = #ececec

$link-color = black
$link-color-visited = gray
$link-color-hover = black
