.disabled
	cursor default
	opacity .5
	pointer-events none

.hidden
	display none !important

.show
	display block !important

.invisible
	visibility hidden

.old-browser
	background grey
	width 100%
	height 100vh
	padding-top 200px

.old-browser-text
	text-align center
	color white
	font-size 20px

.filter-layer
	position absolute
	top 0
	left 0
	width: 100%
	height: 100%
	background:#1111119c

.drop
	transition opacity .4s
	transform-origin: top
	opacity: 0
	position absolute
	left -9999px
.drop.active
	opacity: 1
	position: static
	left initial